=================
Objective:
=================

When made a ping request, it should automatically update the data in the database. More specifically, it will:
1. Check for any updates to the GTFS updates
   - Involves seeing which transit services has updated their data
   - Can use https://transitfeeds.com/ to see which data has been updated
   - Those that have not updated don't need to proceed to step 2

2. Download the new GTFS data
   - Involves (1) to see if it needs any updating
   - We then download and extract the new GTFS data

3. Parse the new GTFS data
   - We use Apache spark to extract and parse out the data that we want to use

4. Upload the new GTFS data to Mongo DB
   - We first delete the old data (somehow, maybe by version ID?) and then upload the new data
   - Before uploading the new data, we put the new version ID in the DB

=================
What do we need?
=================
- Need to somehow track versions on MongoDB
- Need to somehow know which needs updating
- Need to somehow know how to download new GTFS data
- Need to somehow run Apache Spark on Heroku
- Need to use Python instead of Node JS when trying to run Apache Spark